{% extends 'AdminIndex.html' %}

{% block title %}
    <title>Accommodation List</title>
{% endblock %}

{% block content %}
    <div class="tablelist">
    <table id="cars">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Price</th>
            <th>Type</th>
            <th>No. of Rooms</th>
            <th>Phone</th>
            <th>Email Address</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
    {% for accommodations in accommodation %}
    <tr>
        <td> {{accommodations.name}} </td>
        <td>{{ accommodations.location }}</td>
        <td>{{ accommodations.price }}</td>
        <td>{{ accommodations.type }}</td>
        <td>{{ accommodations.rooms }}</td>
        <td>{{ accommodations.phone }}</td>
        <td>{{ accommodations.email_address }}</td>
        <td>
            {% if accommodations.image %}
                <img src="{{ accommodations.image.url }}" alt="Hotel" style="max-width: 100px; max-height: 100px;">
            {% else %}
                No Image Available
            {% endif %}
        </td>
    </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}

