{% extends 'Websites/index.html' %}

{% block title %}
    <title>Success</title>
{% endblock %}

{% block content %}
    <style>
    .success{
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        padding: 2rem 0 1rem 0;
        margin: 50px auto;
        width: 700px;
    }
    .success p{
        font-family: Roboto;
    }
    .success h1{
        font-family: Helvetica;
    }
    .return{
        text-align: right;
        padding-right: 10px;
    }
    </style>
<div class="success">
<h1>Successful</h1>
<p>We have successfully received your application. Please wait as
we review your details.</p>
<p>Once successfully accepted, you will receive a congratulatory email with more details</p>
<p>Thank you for trusting us.</p>
<div class="return">
    <a href="">Back to Home</a>
    </div>
</div>

{% endblock %}