{% extends 'Websites/index.html' %}

{% block title %}
    <title>Destinations</title>
{% endblock %}

{% block content %}
    <table id="cars">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Date of Birth</th>

            <th>Image</th>
        </tr>
    </thead>
    <tbody>
    {% for guides in guidance %}
    <tr>
        <td> {{guides.firstname}} {{ guides.middle_name }} {{ guides.surname }} </td>
        <td>{{ guides.age }}</td>
        <td>{{ guides.dob }}</td>
        <td>
            {% if guides.image %}
                <img src="{{ guides.image.url }}" alt="{{ guides.name }}" style="max-width: 100px; max-height: 100px;">
            {% else %}
                No Image Available
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}