body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #333;
}

.intro {
  font-size: 18px;
  color: #666;
}

ul {
  list-style-type: circle;
  padding: 10px;
}

li {
  margin-bottom: 10px;
}
span{
    font-weight: bold;
}
.contact {
  font-weight: bold;
  text-align: center;
  color: #333;
}

a {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 20px;
      text-decoration: none;
      color: #fff; /* Text color */
      background-color: #333; /* Background color */
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    /* Hover effect for the anchor element */
    a:hover {
      background-color: #555; /* Hover background color */
    }

    /* Adjustments for responsive design (optional) */
    @media screen and (max-width: 768px) {
      a {
        display: block;
        width: 100%;
        margin-top: 15px;
      }
    }
