{% extends 'AdminIndex.html' %}

{% block content %}


    <div class="content">
        <!-- Your admin content goes here -->
            <div class="heading">
        <div class="header">
            <h1>Hi There, {% if logged_in_user %}
        <p>{{ logged_in_user.username }}</p>
                {% endif %}</h1>
            <h2>Are you ready for what today holds ahead?</h2>
        </div>

            </div>

        <div class="dashboard">
            <div class="header">
                <h1>Dashboard</h1>
            </div>
            <div class="summary-cards">
            <div class="card">
                <h2>Total Users</h2>
                <p>1,234</p>
            </div>
            <div class="card">
                <h2>Revenue</h2>
                <p>$10,000</p>
            </div>
            <div class="card">
                <h2>Orders</h2>
                <p>567</p>
            </div>
            </div>
        </div>
<h2>{% if total_cars %}
        <p>Total Number of Cars: {{ total_cars }}</p>
    {% else %}
        <p>No cars found.</p>
    {% endif %} </h2>



    <h2 style="text-align: center;">Statistics</h2>
    <div class="row">
        <div class="circle"> {{ total_cars }}</div>
        <div class="circle">Another count</div> <!-- Replace with other counts -->
        <div class="circle">Another count</div> <!-- Replace with other counts -->
    </div>
    <div class="row">
        <div class="circle">Another count</div> <!-- Replace with other counts -->
        <div class="circle">Another count</div> <!-- Replace with other counts -->
        <div class="circle">Another count</div> <!-- Replace with other counts -->
    </div>
    </div>

{% endblock %}