{% extends 'Websites/index.html' %}

{% block title %}
    <title>Car Hire</title>
    <style>
    .main-header {
    /*margin-top: 100px; /* Add your desired space */
    position: relative;
    height: 70vh; /* 50% of the viewport height */
    overflow: hidden;
    color: #fff; /* Text color for header content */
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../static/Images/header.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.header-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}
.search-bar {
    position: absolute;
    /*bottom: 20px; /* Adjust distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.search-bar form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Change button color as needed */
    color: #fff;
    cursor: pointer;
}

    </style>
{% endblock %}

{% block content %}
<div class="main-header">

<div class="header-background"></div>
    <div class="header-content">
        <!-- Your header content goes here -->
        <h1>BEST WORLDWIDE <br>
        CAR HIRE DEALS</h1>
        <h2>Browse Through our range of cars and find your best fit.</h2>
        <!-- Navigation links -->
        <div class="search-bar">
            <form action="/search/" method="get">
                <input type="text" name="search_query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="product-cards">
    {% for cars in hire %}
        <div class="product-card">
            <img src=" {{ cars.image.url }}" alt="{{ cars.make }} {{ cars.model }}">
            <div class="product-info">
                <h2>{{ cars.make }} {{ cars.model }}</h2>
                <p>{{ cars.description}}</p>
                <p class="price">Price: {{ cars.price }} <br>
                    Seaters: {{ cars.seater }}</p>
                <a href="#" >Check out now</a>
            </div>
        </div>
    {% endfor %}
</div>
      {% include 'footer.html' %}

{% endblock %}
