{% extends 'Websites/index.html' %}

{% block title %}
    <title>Car Hire</title>
{% endblock %}

{% block content %}


  <div class="container">
    <h1>Welcome to King Kong Car Hire!</h1>
    <p class="intro">At King Kong Car Hire, we're dedicated to providing you with a seamless and enjoyable car rental experience. Whether you're traveling for business or pleasure, our diverse fleet of vehicles is meticulously maintained and equipped to meet your needs.</p>

    <h2>Why Choose Us?</h2>
    <ul>
      <li><span>Wide Range of Vehicles:</span> From compact cars to spacious SUVs and luxury sedans, we offer a broad selection of vehicles to suit every occasion and preference.</li>
      <li><span>Convenient Booking:</span> Our user-friendly online booking system allows you to easily reserve the vehicle of your choice in just a few clicks. You can also reach out to our friendly customer service team for assistance.</li>
      <li><span>Transparent Pricing:</span> We believe in transparent pricing with no hidden fees. Our competitive rates and flexible rental options ensure you get the best value for your money.</li>
      <li><span>Quality Service:</span> Your satisfaction is our priority. Our dedicated staff strives to deliver exceptional customer service at every step of your car rental journey.</li>
      <li><span>Flexible Pickup and Drop-off:</span> We offer flexible pickup and drop-off locations, making it convenient for you to collect and return your vehicle.</li>
      <li><span>Additional Services:</span> Enhance your experience with optional add-ons like GPS navigation systems, child seats, and more.</li>
    </ul>

    <p class="outro">Whether you need a vehicle for a short trip or an extended road adventure, trust King Kong Car Hire to provide you with reliable, comfortable, and affordable transportation solutions.</p>

    <p class="contact">Contact us today to book your next car rental and embark on a memorable journey with peace of mind!</p>
  <p class="browse">Browse through our collection of wheels, choose what suits your needs, pick and have yourself a wonderful journey ...</p>
  </div>


<div class="product-cards">

        {% for car in hire %}
            <!-- Display all cars initially if no search results -->
            <div class="product-card">
                <img src="{{ car.image.url }}" alt="{{ car.make }} {{ car.model }}">
                <div class="product-info">
                    <h2>{{ car.make }} {{ car.model }}</h2>
                    <p>{{ car.description }}</p>
                    <p class="price">Price: {{ car.price }} <br>
                        Seaters: {{ car.seater }}</p>
                    <a href="{% url 'CarCheckOut' %}">Check out now</a>
                </div>
            </div>
        {% endfor %}

</div>

    {% include 'footer.html' %}

{% endblock %}
